{% load static %}
{% load items_tags %}
<div class="container">
    <!-- Каталог и корзина с фиксированным расположением на странице -->
    <div class="row mt-1 position-fixed z-3">
        <!-- Каталог -->
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Каталог
                <img class="mx-1" src="{% static 'deps/icons/grid-fill.svg' %}" alt="Catalog Icon" width="16"
                     height="16">
            </button>
            <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
                {% tag_categories as categories %}
                {% for category in categories %}
                <li><a class="dropdown-item text-white" href="{% url 'catalog:index' category.slug %}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- Значек корзины, вызывает модальное окно -->
            {% block modal_cart %}
                {% include 'includes/cart_button.html' %}
            {% endblock modal_cart %}
        <!-- Закончилась разметка модального окна -->
    </div>
</div>